.container {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.places-container {
  display: flex;
  flex-direction: row;
}

.card-container {
  max-width: 30%;
}
// Places card container
.card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border: black solid 1px;
  p {
    font-size: 1rem;
    margin: auto;
  }
  .holder {
    width: 25%;
  }
}

.map {
  display: flex;
}

.map-container {
  display: flex;
}

.leaflet-container {
  position: absolute;
  z-index: 0;
  width: 65%;
  height: 70%;
}

.location-icon {
  font-size: 2rem;
  color: white;
  background-color: red;
  border: black solid 1px;
  border-radius: 30%;
}

.reviews {
  position: absolute;
  z-index: 1;
  background-color: white;
  margin: 0.5em;
  width: 25%;
  padding-left: 1em;
}

.ratings {
  margin-top: 1em;
  display: inline-flex;
  gap: 0.5em;
}

.summary {
  display: inline-flex;
  gap: 1em;
  button {
    margin: 0;
  }
}
