.container {
  display: flex;
  flex-direction: column;

  padding: 0 2rem 2rem;
}

.places-container {
  display: flex;
  flex-direction: row;
}

.card-container {
  max-width: 30%;
}
// Places card container
.card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  border: black solid 1px;
  p {
    font-size: 1rem;
    margin: auto;
  }
  .holder {
    width: 25%;
  }
}

// place card scroll bar
#growth {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: scroll;
}
.reviews {
  background-color: white;
  margin: 0.5em;
}

#comments {
  width: 100%;
  height: 5rem;
}

.map {
  display: flex;
}

.map-container {
  display: flex;
}

.leaflet-container {
  position: absolute;
  z-index: 0;
  width: 65%;
  height: 70vh;
}

.ratings {
  margin-top: 1em;
  display: inline-flex;
  gap: 0.5em;
}

.summary {
  display: inline-flex;
  gap: 1em;
  button {
    margin: 0;
  }
}

.location-icon {
  font-size: 2rem;
  color: white;
  background-color: red;
  border: black solid 1px;
  border-radius: 30%;
}

@media only screen and (max-width: 725px) {
  .places-container {
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 20vh;
  }
  #growth {
    flex-direction: row;
    width: 100%;
    overflow-y: scroll;
    flex-wrap: wrap;
    position: bottom;
  }
  .rev-cont {
    display: flex;
  }
  // Places card container
  .card {
    display: flex;
    width: 100%;
    border: black solid 1px;
  }

  .leaflet-container {
    display: flex;
    justify-content: center;
    align-content: center;
    z-index: 0;
    width: 90%;
    height: 50vh;
  }

  .review-input {
    position: bottom;
  }
}
