.home {
  display: flex;
  justify-content: center;
  height: 80vh;
  padding-top: 2em;

  img {
    border-radius: 10%;
    width: 80%;
    height: 80%;
  }
}

@media (max-width: 768px) {
  .home {
    height: 70vh;
    align-content: center;
    align-items: center;

    img {
      height: 80%;
      width: 80%;
    }
  }
}
