.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
  ul li {
    margin-left: 20px;
  }

  ul li a {
    display: flex;
    align-items: center;
  }

  ul li a:hover {
    color: #777;
  }
  ul li a svg {
    margin-right: 0.5em;
  }
}
