.navbar {
  display: flex;
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
    padding: 0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: white;
    background-color: black;
    border: 1px solid none;
    border-radius: 8%;
    padding: 0.5em;
  }

  ul li a {
    display: flex;
    align-items: center;
  }

  ul li a:hover {
    transform: scale(0.98);
    opacity: 80%;
  }
  ul li a svg {
    margin-right: 0.5em;
  }
}
